<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="application-name" content="LeadTapir"/>
<meta name="msapplication-TileColor" content="#FFF" />
<meta name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/images/favicon/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="/images/favicon/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content=/images/favicon/"mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/images/favicon/mstile-310x310.png" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="/images/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/images/favicon/favicon-128.png" sizes="128x128" />
  <title>LeadTapir</title>
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top navbar-custom">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/images/logo2.png" alt="" style="height: 35px; width: auto;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav nav-custom ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">about</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#clients">clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#testimonial">testimonial</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#work">work</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="#casestudies">case studies</a>
              </li> -->
              <li class="nav-item">
                  <a class="nav-link" href="#contact">contact</a>
                </li>
          </ul>
        </div>
      </div>
      </nav>
  
      <main role="main" class="main-content">
        <div id="home" class="big-background parent" style="background: url('./images/agreement.jpg') no-repeat center bottom fixed; background-size: cover;">
          <div class="top-big-text">grow your email database</div>
          <div class="sub-text">We help e-commerce sites to grow their databases by 5% to 12% per campaign</div>
          <div class="button-region">
            <a href="#about" class="btn btn-lg btn-custom">Learn More</a>
          </div>
        </div>
        <div id="about" class="container mt-100 features">
          <div class="row">
            <div class="col-sm">
              <i class="fas fa-question-circle fa-6x color-custom"></i>
              <div>
                <h5>HOW IT WORKS</h5>
                <p>
                    The contest platform is designed to leverage off your existing email database. By getting referrals from existing members and making it optional to join the quality of the new members is preserved. Our clients are seeing new members convert at 11% to 18% within the first month.
                </p>
              </div>
            </div>
            <div class="col-sm">
              <i class="fas fa-users fa-6x color-custom"></i>
              <div>
                <h5>WHY USE US</h5>
                <p>
                    Growing your email list should be one of the most important goals for your business as email ranks as one of the top ways to generate sales. Using Lead Online, we take care of the full creative development so you can concentrate on your business. Our platform is mobile responsive and is backed by Amazon Web Services.
                </p>
              </div>
            </div>
            <div class="col-sm">
              <i class="fas fa-dollar-sign fa-6x color-custom"></i>
              <div>
                  <h5>PRICING</h5>
                  <p>
                      Our pricing model is performance based per new member. We work with clients to develop cost effective and efficient campaigns that are focussed on your return on investment.
                  </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm mt-50">
              <a href="#contact" class="btn btn-lg btn-custom">CONTACT US NOW</a>
            </div>
          </div>
        </div>
        <div>
        <div  id="clients" class="container clients">
          <div class="col-sm mt-100">
            <h1>OUR CLIENTS</h1>
            <div class="sub-text-in">We work with a wide range of innovative and successful companies. See how we can help your business.</div>
            <div class="client-list">
              <div class="row">
                <div class="col-sm"><img src="./images/clients/logo-hotel-quickly.jpg" class="img-client"></div>
                <div class="col-sm"><img src="./images/clients/logo-abetterflorist.png" class="img-client"></div>
                <div class="col-sm"><img src="./images/clients/logo-guavapass.gif" class="img-client"></div>
                <div class="col-sm"><img src="./images/clients/logo-grain.png" class="img-client"></div>
              </div>
              <div class="row" style="margin-top: 20px;">
                  <div class="col-sm"><img src="./images/clients/logo-theoystercart.jpg" class="img-client2"></div>
                  <div class="col-sm"><img src="./images/clients/b.jpg" class="img-client2"></div>
                  <div class="col-sm"><img src="./images/clients/c.jpg" class="img-client2"></div>
                  <div class="col-sm"><img src="./images/clients/h.jpg" class="img-client2"></div>
                  <div class="col-sm"><img src="./images/clients/s.jpg" class="img-client2"></div>
                </div>
              <div class="row" style="margin-top: 20px;">
                  <div class="col-sm"><img src="./images/clients/logo-thefrenchcellar.png" class="img-client"></div>
                  <div class="col-sm"><img src="./images/clients/logo-vaniday.png" class="img-client"></div>
                </div>
            </div>
          </div>
        </div>
      </div>
        <div  id="testimonial" class="mt-100">
        <div class="container-fluid testimonial  pd-20">
          <div class="container">
          <div class="row">
            <div class="col-sm">
              <h1 style="font-weight: bold; color: rgba(244,67,54 ,1);">TESTIMONIAL</h1>
              <div class="sub-text-in-testi text-center mb-50" style="color: rgba(97,97,97 ,1);">All our clients are repeat customers, here’s what they’ve got to say.</div>
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testi">
                            <p>Dealfind has used Lead Online’s contest platform multiple times to grow our email database. We’re extremely happy with the quantity and the quality of the new subscribers generated. We are very satisfied with the results.</p>
                            <div class="testi-name">Sarah Crawford – Digital Marketing Manager, NZ Wine Cellars</div>
                          </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testi">
                            <p>Dealfind has used Lead Online’s contest platform multiple times to grow our email database. We’re extremely happy with the quantity and the quality of the new subscribers generated. We are very satisfied with the results.</p>
                            <div class="testi-name">Sarah Crawford – Digital Marketing Manager, NZ Wine Cellars</div>
                          </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testi">
                          <p>Dealfind has used Lead Online’s contest platform multiple times to grow our email database. We’re extremely happy with the quantity and the quality of the new subscribers generated. We are very satisfied with the results.</p>
                          <div class="testi-name">Sarah Crawford – Digital Marketing Manager, NZ Wine Cellars</div>
                        </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
          </div>
        </div>
          </div>
          
        </div>
        <!-- <div id="work" class="container example-case-study mt-100"> -->
          <!-- <div class="row">
              <div class="col-sm">
                <h1>EXAMPLES OF OUR WORKS</h1>
                <div class="sub-text-in">We’ve run campaigns in many sectors including; fashion apparel, travel, daily deals, retail and classifieds.</div>
                <div class="row mt-50">
                  <div class="col-sm">a</div>
                  <div class="col-sm">b</div>
                  <div class="col-sm">c</div>
                  <div class="col-sm">d</div>
                </div>
              </div>
          </div> -->
          <!-- <div id="casestudies" class="row mt-50">
              <div class="col-sm">
                  <h1>CASE STUDIES</h1>
                  <div class="sub-text-in">
                  Read how our platform has exceeded customer’s expectations,<br>
                  delivering not only high-quality leads but cost effective database growth as well.
                </div>
                <div class="row mt-50">
                    <div class="col-sm">a</div>
                    <div class="col-sm">b</div>
                    <div class="col-sm">c</div>
                  </div>
              </div>
          </div> -->
        <!-- </div> -->
        <div id="contact" class="contact" style="margin-top: 2px;">
          <h1 class="contact-title" style=" text-align: center; text-transform: uppercase; font-weight: bold; color: rgba(244,67,54 ,1); padding-top: 50px;">Contact</h1>
          <div class="container-fluid" style="padding-top: 50px;">
            <div class="col-md-10 offset-md-1">
            <div class="row">
            <div class="col-sm-4" style="margin-bottom: 50px; font-size: 14px;">
                <b>LeadTapir</b><br>
                We are an email acquisition company based in Kuala Lumpur, Malaysia
                <br><br>
                <b>Address</b><br>
                No. 12-2 2nd Floor, Jalan 31/70A, Desa Sri Hartamas, Wilayah Persekutuan, 50480 Desa Sri Hartamas, Federal Territory of Kuala Lumpur
            </div>
            <div class="col-sm-8">
              <form id="sendContact" >
              <div>
                <div class="col-sm-12">
                  <input type="text" id="name" class="form-control form-control-sm" style="margin-bottom: 10px;" placeholder="Name" required>
                </div>
                <div class="col-sm-12">
                    <input type="text" id="company" class="form-control form-control-sm" placeholder="Company" required>
                </div>
              </div>
              <div style="margin-top: 10px;">
                  <div class="col-sm-12">
                      <input type="email" id="email" class="form-control form-control-sm" style="margin-bottom: 10px;" placeholder="Email Address" required>
                  </div>
                  <div class="col-sm-12">
                      <input type="text" id="phonenumber" class="form-control form-control-sm" placeholder="Phone number" required>
                  </div>
              </div>
              <div style="margin-top: 10px;">
                  <div class="col-sm">
                    <textarea name="message" id="message" class="form-control" rows="7" required></textarea>
                  </div>
              </div>
                  <div class="col-sm" style="margin-top: 10px; text-align: right; margin-bottom: 10px;">
                    <button id="submit" type="submit" class="btn btn-custom">SUBMIT</button>
                  </div>
                </form>
            </div>
          </div>
          </div>
          </div>
        </div>
      </main>
  <script src="app.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    $('#sendContact').on('submit', function (e) {
      e.preventDefault();
      $.ajax({
        type: 'POST',
        data: {
          name: $('#name').val(),
          company: $('#company').val(),
          email: $('#email').val(),
          phonenumber: $('#phonenumber').val(),
          message: $('#message').val(),
        },
        url: '/send',
        success: function (response) {
          swal("Thank you! We will contact you as soon as possible.", {
            buttons: false,
            icon: 'success',
            timer: 3000,
          });
          document.getElementById("sendContact").reset();
        }
      })
    })
  </script>
</body>
</html>