$color-scheme: rgba(244,67,54 ,1);
$color-scheme-light: #ef9a9a;

// * {
//   outline: 1px solid red;
// }

body {
  font-family: 'Varela Round', sans-serif;
  position: relative;
}

.navbar-custom {
  min-height: 80px;
  background-color: rgba(255,255,255,0.9) !important;
}

.main-content {
  padding-top: 80px;
}

.big-background {
  height: 600px;
}

.nav-custom {
  text-transform: uppercase;
  // font-weight: bold;
  font-weight: 600;
  font-size: 14px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-custom .nav-item {
  margin-left: 5px;
  margin-right: 10px;
}

.nav-custom .active a {
  color: $color-scheme !important;
}

.top-big-text {
  font-size: 3.3rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  color: #FFF;
  text-shadow: 0px 0px 12px rgba(150, 150, 150, 1);
  text-align: center;
}

.sub-text {
  text-align: center;
  display: inline-block;
  font-size: 1.2rem;
  color: #FFF;
  text-shadow: 0px 0px 12px rgba(150, 150, 150, 1);
}

.button-region {
  margin-top: 30px;
}

.btn-custom {
  background-color: $color-scheme;
  color: #FFF;
}

.mt-100 {
  padding-top: 127px;
}

.mt-50 {
  margin-top: 50px;
}

.clients .col-sm,
.features .col-sm {
  text-align: center;
}

.features h5 {
  color: $color-scheme;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 800;
  letter-spacing: 1px;
}

.clients h1,
.clients h2,
.clients h3,
.clients h4,
.clients h5,
.example-case-study h1 {
  font-weight: 800;
  color: $color-scheme;
  letter-spacing: 1px;
}

.example-case-study h1 {
  text-align: center;
}

.example-case-study .sub-text-in {
  text-align: center;
}
.features p {
  font-size: 13px;
  line-height: 28px;
  padding-left: 15px;
  padding-right: 15px;
  color: rgba(97,97,97 ,1);
}

.color-custom {
  color: $color-scheme;
}

.sub-text-in {
  font-size: 18px;
  color: rgba(97,97,97 ,1);
}

.sub-text-in-testi {
  font-size: 18px;
  color: #FFF;
}

// .testimonial {
//   background-color: #ef9a9a;
// }
.testimonial,
.contact {
  // background-color: rgba(224,224,224 ,1);
  background-color: rgba(245,245,245 ,1);
}

.testimonial h1 {
  text-align: center;
  color: #FFF;
  font-weight: 800;
  letter-spacing: 1px;
}

.pd-20 {
  // padding: 100px;
  padding-top:100px;
  padding-bottom: 100px;
}

.mb-50 {
  margin-bottom: 50px;
}

#testimonial h1,
#work h1,
#contact h1 {
  font-size: 2rem !important;
}

.img-client {
  max-height: 50px;
  width: auto;
  margin-bottom: 10px;
}

.img-client2 {
  max-height: 80px;
  width: auto;
  margin-bottom: 10px;
}

.testi {
  // padding-left: 150px;
  // padding-right: 150px;
  text-align: center;
  font-size: 14px;
  color: #212121;
}

.testi-name {
  font-weight: 800;
  font-style: italic;
}

.client-list {
  margin-top: 50px;
}

.contact .container {
  padding: 50px 0px;
  color: #212121;
}

.contact .form-control {
  background-color: rgba(250,250,250 ,0.8)
}